<div class="row">
	<div class = "span6 offset3">
	<div class = "span2">
		<%= link_to "Sign in", signin_path, class: "animated_div counter_clockwise"%>
	</div>
	<div class = "span2 offset2">
		<%= link_to "Sign up", signup_path, class: "animated_div follow_clockwise" %>
	</div>
	</div>
</div>
