<footer class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<ul>
				<li>
					Copyright
				</li>
				<li>
					AppBoo
				</li>
			</ul>
		</div>	
	</div>
</footer>